h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    background-color: hsla(181, 100%, 50%, 0.5);
}