h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#groote{
    width: 90px;
    height: 40px;
}
body {
    background-color: hsla(234, 100%, 25%, 0.601);
}
h2 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

body {
    background-color: hsla(181, 100%, 50%, 0.5);
}

article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

textarea {
  width: 10%;
  height: 15%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(236, 10, 10);
  border: 3px solid rgb(255, 111, 0);
  border-radius: 2px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
}